.MasterEthernet {
    width: 54vw;
    height: 92vh;
    position: relative;
    
    h1 {
        text-align: center;
        font-size: 2vw;
    }
    h2{
        font-size: 1.2vw;
    }
    .name{
        font-size: 1vw;
    }
    .value {
        font-size: 1.3vw;
        font-weight: 600;
    }
    .picAL2230{
        width: 10vw;
        height: 35vh;
        position: absolute;
        left: 1vw;
        top: 10vh;
    }
    .indicator1{
        position: relative;
        display: flex;
        width: 12vw;
        height: 5vh;
        justify-content: space-around;
        align-items: center;
        gap: 0.1vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        .picBuzzer{
        width: 1.8vw;
        height: 1.8vh;
        position: absolute;
        bottom: 1.5vh;
        right: 0.5vw;
        }
        left: 4.5vw;
    }
    .picCIRCLE{
        position: absolute;
        left: 22vw;
        width: 11vw;
        height: 22vh;
        top: 24vh;
    }
    .picOGT500{
        position: absolute;
        width: 3vw;
        height: 14vh;
        left: 25.8vw;
        top: 9vh;
    }
    .nameOGT500{
        position: absolute;
        font-size: 1.2vw;
        right: 5vw;
        top: 15vh;
        border-radius: 1vw;
        height: 4vh;
        width: 5vw;
        text-align: center;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
    }
    .picIGS232{
        position: absolute;
        width: 9vw;
        height: 8vh;
        left: 13.7vw;
        top: 31vh;
    }
    .nameIGS232{
        position: absolute;
        font-size: 1.2vw;
        left: 16vw;
        top: 27vh;
        height: 4vh;
        width: 5vw;
        text-align: center;
        border-radius: 1vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
    }
    .IGS232 {
        width: 2vw;
        height: 4vh;
        position: absolute;
        top: 33vh;
        left: 22.5vw;
    }

    .OGT500 {
        width: 2vw;
        height: 4vh;
        position: absolute;
        top: 25vh;
        right: 10vw;
    }
    .picUGT524{
        width: 3.4vw;
        height: 12.7vh;
        position: absolute;
        left:0.3vw;
        top: 35vh;
    }
    .container_UGT524{
        position: absolute;
        height: 30vh;
        width: 4vw;
        right: 11vw;
        top: 5vh;
        .slider_UGT524{
            height: 30vh;
            width: 1vw;
            background-color: rgba(161, 161, 161, 0.5);
            position: relative;
            left: 1.5vw;
        }
        .value_UGT524{
            height: 1vh;
            width: 4vw;
            position: absolute;
            z-index: 1;
            background-color: #032B91;
            border-radius: 1vw;
        }
        
    }
    .ruler{
        position: absolute;
        top: 3vh;
        right: 8.5vw;
        height: 32vh;
        width: 2vw;
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-around;
        border-left: 0.2vh solid black;
        font-size: 1vw;
        gap: 0.55vh;
        span{
            height: 1.2vw;
        }
    }
    .UGT524 {
        width: 11vw;
        height: 8vh;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        border-radius: 1vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        top: 38vh;
        right: 0.5vw;
        h2{
            font-size: 1.2vw;
        }
    }
    .picKI6000{
        height: 13vh;
        width: 3.5vw;
        position: absolute;
        bottom: 30vh;
        left: 19vw;
    }
    .picO5D150{
        height: 15vh;
        width: 5vw;
        position: absolute;
        bottom: 14vh;
        left: 0.7vw;
    }
    .picRVP510{
        height: 11vh;
        width: 7vw;
        position: absolute;
        bottom: 20vh;
        right: 0.6vw;
    }
    .picPLC{
        height: 17vh;
        width: 41vw;
        position: absolute;
        bottom: 15vh;
        left: 6vw;
    }
    .container_PLC1{
        height: 12vh;
        width: 32vw;
        position: absolute;
        bottom: 17vh;
        left: 7.5vw;
        .PLC1{
            position: relative;
            height: 12vh;
            width: 27.5vw;
        }
        .picPLC1{
            height: 12vh;
            width: 3vw;
            position: absolute;
        }
    }
    .ruler_plc{
        position: absolute;
        bottom: 4vh;
        left: 8vw;
        height: 10vh;
        width: 30vw;
        display: flex;
        align-items: flex-start;
        justify-content: space-around;
        border-top: 0.2vh solid black;
        font-size: 1vw;
        gap: 0vh;
        span{
            width: 1.2vw;
            transform: rotate(90deg);
        }
    }
    .KI6000 {
        width: 6vw;
        height: 8vh;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        border-radius: 1vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        bottom: 32vh;
        left: 22.5vw;
    }
    .O5D150 {
        width: 8.5vw;
        height: 11vh;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        border-radius: 1vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        bottom: 1vh;
        left: 0.5vw;
    }
    .RVP510 {
        width: 9vw;
        height: 9vh;
        text-align: center;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        position: absolute;
        border-radius: 1vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        bottom: 8vh;
        right: 0.5vw;
    }
    .block2{
        background-color: white;
        height: 43vh;
        width: 54vw;
        position: absolute;
        bottom: 0;
        border-radius: 1vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
    }
    .block1{
        height: 48vh;
        width: 15vw;
        background-color: white;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 1vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
    }
    .block{
        background-color: white;
        height: 48vh;
        width: 38.5vw;
        position: absolute;
        top: 0;
        border-radius: 1vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
    }
}


.IO-Output {
    width: 20vw;
    height: 43vh;
    position: relative;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
    border-radius: 1vw;

    h1 {
        text-align: center;
    }

    .picOutput {
        width: 13vw;
        height: 35vh;
        position: absolute;
        right: 0.1vw;
    }

    .picBuzzer {
        width: 2vw;
        height: 2vh;
        position: absolute;
        bottom: 11.8vh;
        left: 3.2vw;
    }

    .indicator {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 7vh;
        width: 8vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        border-radius: 1vw;
        position: absolute;
        left: 0.5vw;
        top: 15vh;
    }

    .buzzer_status {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 5.5vh;
        width: 2.5vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        border-radius: 1vw;
        position: absolute;
        left: 3vw;
        bottom: 10vh;
    }
}

.Traffic {
    width: 44vw;
    height: 38vh;
    position: relative;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
    border-radius: 1vw;
    background-color: white;
    h1 {
        text-align: center;
        font-size: 2vw;
    }

    .control {
        height: 3vh;
        width: 10vw;
        display: flex;
        justify-content: space-around;
        position: absolute;
        left: 2vw;
        top: 4.8vh;
    }

    .buttonHandle {
        height: 4vh;
        width: 4vw;
        background-color: #032B91;
        color: #FFF;
        font-weight: 700;
        border-radius: 0.5vw;
        font-size: 1.2vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        &:hover {
            cursor: pointer;
            background-color: rgb(255, 155, 0, 0.6)
        }
    }

    .picTraffic {
        height: 34vh;
        width: 29vw;
        position: absolute;
        right: 0;
        top: 3.8vh;
    }

    .setting {
        height: 18vh;
        width: 25vw;
        display: flex;
        justify-content: space-around;
        position: absolute;
        left: 0.5vw;
        top: 11vh;

        .nameSetting {
            height: 10vh;
            width: 15vw;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            gap: 1vh;
        }

        .inputSetting {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 2vw;
            height: 10vh;
            gap: 1vh;
            }

        .wait {
            width: 2vw;
            font-size: 1.2vw;
            font-weight: 500;
            border-bottom: 0.1vw solid black ;

        }

        .name {
            font-size: 1.2vw;
            font-weight: 500;
        }
    }

    .indicator1 {
        background-color: rgba(33, 25, 72, 0.778);
        width: 6.5vw;
        height: 4.5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        border-radius: 1vw;
        position: absolute;
        right: 5.7vw;
        top: 13vh;
    }

    .indicator2 {
        background-color: rgba(33, 25, 72, 0.778);
        width: 6.5vw;
        height: 4.5vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        border-radius: 1vw;
        position: absolute;
        right: 17vw;
        bottom: 9.4vh;
    }

    .indicator3 {
        background-color: rgba(33, 25, 72, 0.778);
        width: 2.2vw;
        height: 12.2vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        border-radius: 1vw;
        position: absolute;
        right: 10vw;
        bottom: 2vh;
    }
    .indicator4{
        background-color: rgba(33, 25, 72, 0.778);
        width: 2.2vw;
        height: 12.2vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        border-radius: 1vw;
        position: absolute;
        right: 17vw;
        top: 5.5vh;
    }
    .time1{
        height: 4vh;
        width: 2vw;
        border-radius: 1vh;
        background-color: rgba(33, 25, 72, 0.279);
        position: absolute;
        right:10.2vw;
        top:8.8vh;
        font-weight: 500;
        font-size: 1.5vw;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .time1_1{
        height: 4vh;
        width: 2vw;
        border-radius: 1vh;
        background-color: rgba(33, 25, 72, 0.279);
        position: absolute;
        right:17vw;
        bottom:5vh;
        font-weight: 500;
        font-size: 1.5vw;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .time2{
        height: 4vh;
        width: 2vw;
        border-radius: 1vh;
        background-color: rgba(33, 25, 72, 0.279);
        position: absolute;
        right:7.8vw;
        bottom:10vh;
        font-weight: 500;
        font-size: 1.5vw;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .time2_2{
        height: 4vh;
        width: 2vw;
        border-radius: 1vh;
        background-color: rgba(33, 25, 72, 0.279);
        position: absolute;
        right:19.5vw;
        top:13.5vh;
        font-weight: 500;
        font-size: 1.5vw;
        color: red;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}
.Motor{
    height: 52.5vh;
    width: 44vw;
    position: relative;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
    border-radius: 1vw;
    background-color: white;
    h1{
        text-align: center;
        font-size: 2vw;
    }
    .containerSetting{
        height: 25vh;
        width: 16vw;
        position: absolute;
        left: 0.5vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        .control{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            position: absolute;
            width: 5vw;
            height: 25vh;
            .buttonHandle {
                height: 4vh;
                width: 4vw;
                border-radius: 0.5vw;
                background-color: #032B91;
                color: #FFF;
                font-weight: 700;
                font-size: 1.2vw;
                box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
                &:hover {
                    cursor: pointer;
                    background-color: rgb(255, 155, 0, 0.6)
                }
            }
        }
        .statusControl{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 7vw;
            height: 23vh;
            position: absolute;
            left: 4vw;
            top: 1vh;
        }
        .nameControl{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width: 7vw;
            height: 23vh;
            position: absolute;
            left: 7.5vw;
            top: 1vh;
            font-size: 1.2vw;
            font-weight: 500;
        }
    }
    .setting{
        height: 17vh;
        width: 16vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        bottom: 4vh;
        left: 0.5vw;
        border-radius: 1vw;
        box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 0.2), 0px 4px 5px 0px rgb(0 0 0 / 0.14), 0px 1px 10px 0px rgb(0 0 0 / 0.12);
        .nameSetting{
            font-size: 1.2vw;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            gap:1.5vh;
        }
        .inputSetting{
            font-size: 1.2vw;
            font-weight: 500;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 5vw;
            gap:0.5vh;
            height: 12vh;
            margin-top: 4vh;
            .wait{
                width: 4vw;
                border-bottom: 0.1vw solid black ;

            }
            .buttonInput {
                height: 3.7vh;
                width: 5vw;
                background-color: #032B91;
                color: #FFF;
                font-weight: 700;
                border-radius: 0.4vw;
                font-size: 1.2vw;        
                &:hover {
                    cursor: pointer;
                    background-color: rgb(255, 155, 0, 0.6)
                }
            }
        }
    }
    .chart{
        position: absolute;
        bottom: 0;
        margin-top: 0.2vh;
        right: 0.5vw;
    }
   
}
.box3{
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 1vw;
    margin-top: 1.2vh;
    margin-left: 0.5vw;
}
.box1{
   display: flex;
}
.box2{
    display: flex;
    flex-direction: column;
}
.box4{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}
.container{
    background-color: #ffd388b0;
    height: 100vh;
}